<div id="demo" class="carousel slide carousel-a" data-ride="carousel">

  <!-- 指示符 -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- 轮播图片 -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/carousel.jpg">
    </div>
    <div class="carousel-item">
      <img src="../assets/carousel1.jpg">
    </div>
    <div class="carousel-item">
      <img src="../assets/carousel2.jpg">
    </div>
  </div>

  <!-- 左右切换按钮 -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


<div class="main" >
  <div class="container triangles-of-section">
    <div class="triangle-up-left"></div>
    <div class="square-left"></div>
    <div class="triangle-up-right" style="width: 100px;right: -100px;"></div>
    <div class="square-right" style="width: 287px; right: -387px;"></div>
  </div>
  <div class="carousel-caption animated bounceInUp wait_for_photo_load" style="display: none;">
    <span><h1 >深圳市科盈泰克科技有限公司</h1></span>
    <span><p class="lead skincolored">Shenzhen QuawinTEC Technology Co., Ltd.</p></span>
  </div>

  <section class="features_teasers_wrapper">
    <div class="container">
      <div class="row">
        <div class="feature_teaser col-sm-4 col-md-4"> <span > <img alt="responsive" src="../assets/main.gif"> </span>
          <h3 >产品特点</h3>
          <p >1、放电效率高，达到92%转化率；<br>
            2、高品质电路6重功能保护；<br>
            3、采用最先新的同口充放电Micro Usb接口；<br>
            4、全铝合金金属阳极氧化工艺外壳；<br>
            5、可随意组合的模块化设计；<br>
            6、带电筒功能,CREE XRE灯珠，射程400米；<br>
            7、防尘、防震、防水、防爆四防设计；<br>
            8、钛空金、晶钻蓝、水晶紫、碧玉黑和火焰红5种颜色，待你青睐；<br>
            9、带扩展接头，更多功能，更多乐趣。<br></p>
        </div>
        <div class="feature_teaser col-sm-4 col-md-4"> <span> <img alt="responsive" src="../assets/main1.gif"> </span>
          <h3 >生产工艺</h3>
          <p>  外壳都是由一整块的“铝棒”经过CNC高精度数控机床加工钻孔、切削而制成。具有更高的机械强度，更能应对各种恶劣的使用环境（例如汽车碾压，高空摔落等）。<br>
            端口采用裸露式的防水设计，内置纳米涂层和IP68防水设计。<br>
            外壳两端增加了CNC磨边工艺，并进行磨砂处理，使原本是直角的金属边缘变得圆润柔和，全面提升使用手感。</p>
        </div>
        <div class="feature_teaser col-sm-4 col-md-4"> <span > <img alt="responsive" src="../assets/main2.gif"> </span>
          <h3 >公司实力</h3>
          <p >10年5~5000W各种电池充电器、1S~48S线路保护板和电池组生产的专业工厂；<br>
            有自动贴片机、真空回流焊、全自动电池分容设备、自动点焊机和全自动老化柜等产品生产和检测生产线；<br>
            我们拥有一支10多人的优秀高科技专业工程师团队，平均工作经验超过5年；<br>
            每年利润超过25%的研发投入，使我们的产品更具竞争性和创新性。</p>
        </div>
      </div>
    </div>
  </section>
  <section class="call_to_action dark_section">
    <div class="container">
      <h3 >产品展示</h3>
      <h4 >科盈泰克 用心10年，只做精品！</h4>
      <div class="portfolio_strict row">
        <div class="cat_travel col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio_item"> <a href="#">
            <figure style="background-image:url(../assets/index-p1.jpg)">
              <figcaption>
                <div class="portfolio_description">

                  <span class="cross"></span>
                  <p>¥499</p>
                </div>
              </figcaption>
            </figure>
          </a> </div>
          <a href="#"><h3>10000mAh多功能三防移动电源（钛空金）</h3></a>
        </div>
        <div class="cat_travel col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio_item"> <a href="#">
            <figure style="background-image:url(../assets/index-p2.jpg)">
              <figcaption>
                <div class="portfolio_description">

                  <span class="cross"></span>
                  <p>¥599</p>
                </div>
              </figcaption>
            </figure>
          </a> </div>
          <a href="#"><h3>15000mAh多功能三防移动电源（钛空金）</h3></a>
        </div>
        <div class="cat_travel col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio_item"> <a href="#">
            <figure style="background-image:url(../assets/index-p3.jpg)">
              <figcaption>
                <div class="portfolio_description">

                  <span class="cross"></span>
                  <p>¥399</p>
                </div>
              </figcaption>
            </figure>
          </a> </div>
          <a href="#"><h3>5000mAh多功能三防移动电源（钛空金）</h3></a>
        </div>
        <div class="cat_travel col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio_item"> <a href="#">
            <figure style="background-image:url(../assets/index-p4.jpg)">
              <figcaption>
                <div class="portfolio_description">

                  <span class="cross"></span>
                  <p>¥599</p>
                </div>
              </figcaption>
            </figure>
          </a> </div>
          <a href="#"><h3>15000mAh多功能三防移动电源（碧玉黑）</h3></a>
        </div>
        <div class="cat_travel col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio_item"> <a href="#">
            <figure style="background-image:url(../assets/index-p5.jpg)">
              <figcaption>
                <div class="portfolio_description">

                  <span class="cross"></span>
                  <p>¥499</p>
                </div>
              </figcaption>
            </figure>
          </a> </div>
          <a href="#"><h3>10000mAh多功能三防移动电源（水晶紫）</h3></a>
        </div>
        <div class="cat_travel col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio_item"> <a href="#">
            <figure style="background-image:url(../assets/index-p6.jpg)">
              <figcaption>
                <div class="portfolio_description">

                  <span class="cross"></span>
                  <p>¥</p>
                </div>
              </figcaption>
            </figure>
          </a> </div>
          <a href="#"><h3>5000mAh多功能三防移动电源（水晶紫）</h3></a>
        </div>
        <div class="cat_travel col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio_item"> <a href="#">
            <figure style="background-image:url(../assets/index-p7.jpg)">
              <figcaption>
                <div class="portfolio_description">

                  <span class="cross"></span>
                  <p>¥599</p>
                </div>
              </figcaption>
            </figure>
          </a> </div>
          <a href="#"><h3>15000mAh多功能三防移动电源（玫瑰红）</h3></a>
        </div>
        <div class="cat_travel col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio_item"> <a href="#">
            <figure style="background-image:url(../assets/index-p8.jpg)">
              <figcaption>
                <div class="portfolio_description">

                  <span class="cross"></span>
                  <p>¥599</p>
                </div>
              </figcaption>
            </figure>
          </a> </div>
          <a href="#"><h3>15000mAh多功能三防移动电源（晶钻蓝）</h3></a>
        </div>
        <div class="cat_travel col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="portfolio_item"> <a href="#">
            <figure style="background-image:url(../assets/index-p9.jpg)">
              <figcaption>
                <div class="portfolio_description">

                  <span class="cross"></span>
                  <p>¥499</p>
                </div>
              </figcaption>
            </figure>
          </a> </div>
          <a href="#"><h3>10000mAh多功能三防移动电源（碧玉黑）</h3></a>
        </div>

      </div>
      <a class="btn btn-primary my-font-family" href="#"><i class="fa fa-hand-o-right"></i> 商品列表</a> </div>
  </section>
  <section class="portfolio_teasers_wrapper">
    <div class="container triangles-of-section">
      <div class="triangle-up-left"></div>
      <div class="square-left"></div>
      <div class="triangle-up-right" style="width: 100px;right: -100px;"></div>
      <div class="square-right" style="width: 267px; right: -367px;"></div>
    </div>
    <div class="container">
      <h2 class="section_header fancy centered"><span >相册动态</span><small >我们享受自己的工作并为之努力</small></h2>
      <div class="portfolio_strict row" >
        <div class="col-sm-4 col-md-4">
          <div class="portfolio_item wow fadeInUp" style="-webkit-animation-name: none; -moz-animation-name: none; animation-name: none;"> <a href="#">
            <figure style="background-image:url(../assets/index-a2.jpg)">
              <figcaption>
                <div class="portfolio_description">
                  <span class="cross"></span>
                  <p></p>
                </div>
              </figcaption>
            </figure>
          </a> </div>
          <a href="#"><h3>样品检测组(The Sample Testing)</h3></a>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="portfolio_item wow fadeInUp" style="-webkit-animation-name: none; -moz-animation-name: none; animation-name: none;"> <a href="#">
            <figure style="background-image:url(../assets/index-a2.jpg)">
              <figcaption>
                <div class="portfolio_description">
                  <span class="cross"></span>
                  <p></p>
                </div>
              </figcaption>
            </figure>
          </a> </div>
          <a href="#"><h3>充电器生产线(The Charger Production Line)</h3></a>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="portfolio_item wow fadeInUp" style="-webkit-animation-name: none; -moz-animation-name: none; animation-name: none;"> <a href="#">
            <figure style="background-image:url(../assets/index-a3.jpg)">
              <figcaption>
                <div class="portfolio_description">
                  <span class="cross"></span>
                  <p></p>
                </div>
              </figcaption>
            </figure>
          </a> </div>
          <a href="#"><h3>办公室(The Office)</h3></a>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="portfolio_item wow fadeInUp" style="-webkit-animation-name: none; -moz-animation-name: none; animation-name: none;"> <a href="#">
            <figure style="background-image:url(../assets/index-a4.jpg)">
              <figcaption>
                <div class="portfolio_description">
                  <span class="cross"></span>
                  <p></p>
                </div>
              </figcaption>
            </figure>
          </a> </div>
          <a href="#"><h3>研发部(Development Department)</h3></a>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="portfolio_item wow fadeInUp" style=" -webkit-animation-name: none; -moz-animation-name: none; animation-name: none;"> <a href="#">
            <figure style="background-image:url(../assets/index-a5.jpg)">
              <figcaption>
                <div class="portfolio_description">
                  <span class="cross"></span>
                  <p></p>
                </div>
              </figcaption>
            </figure>
          </a> </div>
          <a href="#"><h3>电池组装车间(Battery Production Workshop)</h3></a>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="portfolio_item wow fadeInUp" style="-webkit-animation-name: none; -moz-animation-name: none; animation-name: none;"> <a href="#">
            <figure style="background-image:url(../assets/index-a6.jpg)">
              <figcaption>
                <div class="portfolio_description">
                  <span class="cross"></span>
                  <p></p>
                </div>
              </figcaption>
            </figure>
          </a> </div>
          <a href="#"><h3>电池测试设备(Battery Test Equipment)</h3></a>
        </div>

      </div>
      <div class="centered_button"><a class="btn btn-primary" href="#">更多相册</a></div>
    </div>
    <div class="clients_section wow fadeInUp" style="-webkit-animation-name: none; -moz-animation-name: none; animation-name: none;">
      <div class="container">
        <h2 class="section_header fancy centered"><span >合作伙伴</span><small >相关合作公司</small></h2>
        <div class="clients_list tex"> <a href="#" target="_blank"><img src="../assets/index-h1.jpg" alt="client"></a> <a href="#" target="_blank" ><img src="../assets/index-h2.jpg" alt="client"></a> <a href="#" target="_blank" ><img src="../assets/index-h3.png" alt="client"></a> <a href="#" target="_blank" ><img src="../assets/index-h4.jpg" alt="client"></a> <a href="#" target="_blank" ><img src="../assets/index-h5.jpg" alt="client"></a> </div>
      </div>
    </div>
  </section>


</div>
