<section class="twitter_feed_wrapper skincolored_section">
  <div class="container">
    <div class="row vertical-center">
      <div class="twitter_feed_icon wow fadeInDown" style="-webkit-animation-name: none; -moz-animation-name: none; animation-name: none;"><a><i class="fa fa-twitter"></i></a></div>
    </div>
  </div>
</section>
<footer class="main">
  <div id="kefu" class="foot-co">
    <div class="top">在线客服<img src="../assets/close.gif" class="close"> </div>
    <div class="middle"> QQ客服:<br>
      <a target="_blank" href="#"><img src="../assets/button_111.gif" border="0" alt="点击这里给我发消息" title="点击这里给我发消息"></a><br>
      QQ客服:<br>
      <a target="_blank" href="#"><img src="../assets/button_111 (1).gif" border="0"  alt="点击这里给我发消息" title="点击这里给我发消息"></a><br>
      旺旺:<br>
      <a target="_blank" href="#"><img src="../assets/online.gif" border="0"  alt="点击这里给我发消息" title="点击这里给我发消息"></a><br>
      <p></p>
      旺旺:<br>
      <a target="_blank" href="#"><img src="../assets/online (1).gif" border="0"  alt="点击这里给我发消息" title="点击这里给我发消息"></a><br>
      <p></p>
    </div>
  </div>
  <section class="footer_teasers_wrapper dark_section">
    <div class="container triangles-of-section">
      <div class="triangle-up-left"></div>
      <div class="square-left"></div>
      <div class="triangle-up-right" ></div>
      <div class="square-right" ></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="footer_teaser pl_flickr_widget col-sm-4 col-md-4">
          <div class="row code">
            <div  class="col-md-6"><img src="../assets/foot1.png"></div>
            <div  class="col-md-6"><img src="../assets/foot2.png"></div>
          </div>
        </div>
        <div class="footer_teaser pl_latest_news_widget col-sm-4 col-md-4">
          <h3 >公司动态</h3>
          <ul class="media-list" >
          </ul>
        </div>
        <div class="footer_teaser pl_about_us_widget col-sm-4 col-md-4">
          <h3 >深圳科盈电子有限公司<br>
            深圳市科盈泰克科技有限公司</h3>
          <p><span >行销中心：深圳市南山区西丽镇旺棠工业区16栋6楼<br>
工厂地址：深圳市宝安区观澜街道观光路大富工业区汇清科技园A栋4-5F
</span></p>
          <p><i class="fa fa-envelope"></i> jim@quawin.com</p>
          <p><i class="fa fa-phone"></i> (+86) 0755-86277191/86277197</p>
          <div class="footer_social">
            <div class="social_wrapper"><a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-youtube"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-4"><span >Copyright © 2014 - 备案号: 粤ICP备16010306号-1</span></div>
        <div class="col-sm-4 col-md-4"></div>
        <div class="text-right col-sm-4 col-md-4"><span >深圳市科盈泰克科技有限公司</span></div>
      </div>
    </div>
  </div>

</footer>
