<div class="full_page_photo no_photo">
  <div class="hgroup">
    <div class="hgroup_title animated bounceInUp skincolored">
      <div class="container">
        <h1 class="" >视频列表</h1>
      </div>
    </div>
    <div class="hgroup_subtitle animated bounceInUp ">
      <div class="container">
        <p >模块化多功能三防移动电源视频</p>
      </div>
    </div>
  </div>
</div>
<div class="main" >
  <div class="container triangles-of-section">
    <div class="triangle-up-left"></div>
    <div class="square-left"></div>
    <div class="triangle-up-right" style="width: 100px;right: -100px;"></div>
    <div class="square-right" style="width: 281px; right: -381px;"></div>
  </div>
  <section class="portfolio_strict aa">
    <div class="container">
      <ul class="portfolio_filters">
        <li><a href="#" class="active">展示所有</a></li>
      </ul>
      <div class="row isotope_portfolio_container"  style="height: 500px;">
        <div class="cat_travel col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="portfolio_Item">
            <iframe height="100%" width="100%" src="http://player.youku.com/embed/XMTY2MTU4Njk0OA==" frameborder="0" allowfullscreen=""></iframe>
            <figcaption>
              <div class="portfolio_description">
                <h3></h3>
                <span class="cross"></span>
                <p></p>
              </div>
            </figcaption>

          </div>
        </div>
        <div class="cat_travel col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="portfolio_Item">
            <iframe height="100%" width="100%" src="http://player.youku.com/embed/XMTY2MTM1MzU2OA==" frameborder="0" allowfullscreen=""></iframe>
            <figcaption>
              <div class="portfolio_description">
                <h3></h3>
                <span class="cross"></span>
                <p></p>
              </div>
            </figcaption>

          </div>
        </div>
      </div>
      <div class="pagination_wrapper my-textalign">
        <ul class="pagination pagination-centered justify-content-center">
          <li><a href="#">«</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </div>
  </section>
</div>
