<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<!--<div id="app">  全局组件
    <runoob></runoob>
</div>

<script>
    //注册
    Vue.component('runoob', {
        template: '<h1>自定义组件！</h1>'
    })
    //创建根实例
    new Vue({
        el: '#app'
    })
    </script>-->

<!--<div id="app"> 局部组件
    <runoob></runoob>
</div>

<script>
    var Child = {
        template: '<h1>自定义组件!</h1>'
    }

    //创建根实例
    new Vue({
        el: '#app',
        components: {
            //<runoob>将只在父模块可用
            'runoob': Child
        }
    })
    </script>-->
<!--
prop 是父组件用来传递数据的一个自定义属性。
父组件的数据需要通过 props 把数据传给子组件，子组件需要显式地用 props 选项声明 "prop"：

<div id="app">
    <child message="hello!"></child>
</div>

<script>
    //注册
    Vue.component('child', {
        //声明props
        props: ['message'],
        //同样也可以在vm实例中像'this.message'这样使用
        template: '<span>{{ message }}</span>'
    })
    //创建根实例
    new Vue({
        el: '#app'
    })
    </script>-->


<!--类似于用 v-bind 绑定 HTML 特性到一个表达式，
也可以用 v-bind 动态绑定 props 的值到父组件的数据中。
每当父组件的数据变化时，该变化也会传导给子组件：

<div id="app">
    <div>
        <input v-model="parentMsg">
        <br>
        <child v-bind:message="parentMsg"></child>
    </div>

    <script>
        //注册
        Vue.component('child', {
            //声明 props
            props: ['message'],
            //同样也可以在vm实例中像‘this.message’这样使用
            template: '<span>{{ message }}</span>'
        })
        //创建根实例
        new Vue({
            el: '#app',
            data: {
                parentMsg: '父组件内容'
            }
        })
        </script>
</div>-->

<!--  v-bind 指令将 todo 传到每一个重复的组件中：
<div id="app">
    <ol>
        <todo-item v-for="item in sites" v-bind:todo="item"></todo-item>
    </ol>
</div>

<script>
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    })
    new Vue({
        el: '#app',
        data: {
            sites: [
                { text: 'Runoob' },
                { text: 'Google' },
                { text: 'Taobao' }
            ]
        }
    })
</script>-->
<!--
组件可以为 props 指定验证要求。
Vue.component('example', {
props: {
//基础类型检测(`null` 意思是任何类型都可以)
propA: Number,
//多种类型
propB: [String, Number],
//必须且是字符串
propC: {
type: String,
required: true
},
//数字， 默认值
propD: {
type: Number,
default: 100
},
//数组/对象的默认值应当由一个工厂函数返回
propE: {
type: Object,
default: function() {
return { message: 'hello' }
}
},
//自定义验证函数
porpF: {
validator: function (value) {
return value > 10
}
}
}
})-->
<!--自定义事件-->
<div id="app">
    <div id="counter-event-example">
        <p>{{ total }}</p>

        <!--//使用 $on(eventName) 监听事件-->
        <button-counter v-on:increment="incrementTotal"></button-counter>
        <button-counter v-on:increment="incrementTotal"></button-counter>
    </div>
</div>

<script>
    Vue.component('button-counter', {
        template: '<button v-on:click="incrementHandler">{{ counter }}</button>',
        data: function () {
            return {
                counter: 0
            }
        },
        methods: {
            incrementHandler: function () {
                this.counter += 1
                //使用 $emit(eventName) 触发事件
                this.$emit('increment')
            }
        },
    })
    new Vue({
        el: '#counter-event-example',
        data: {
            total: 0
        },
        methods: {
            incrementTotal: function () {
                this.total += 1
            }
        }
    })
    </script>



</body>
</html>