.bg-dark {
  background-color: #efefef!important;
  height:100px;
  border-radius: 0px;
}
.aa {
  top: -7px;
}
.nav-link {
  color: #000000!important;
  font-size:14px;
}
.img-head {
  width:204px;
  height:65px;
}
.carousel-a {
  margin-top:-154px;
}
.triangle-up-right {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  right: -100px;
  overflow: hidden;
}
.triangle-up-right:after {
  content: "";
  position: absolute;
  width: 142px;
  height: 142px;
  background: #efefef;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -71px;
  left: -71px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.triangle-up-left {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: -100px;
  overflow: hidden;
}
.triangle-up-left:after {
  content: "";
  position: absolute;
  width: 142px;
  height: 142px;
  background: #efefef;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -71px;
  left: 29px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.fixed-top {
  position: fixed;
  top: 0px;
  z-index: 1030;
}
.mobile_collapser {
   display: block;
   height: 51px;
   text-align: left;
   padding: 12px 25px;
   color: #fff;
   font-size: 16px;
   line-height: 22px;
   background-color: #428BCA;
   border-bottom: solid 1px #216AA5;
   margin-bottom: 0px;
 }
