<!--导航条-->
<app-navbar></app-navbar>
<!--/导航条-->
<!--主要内容容器-->
<div class="container">
  <div class="row">
    <!--左侧-->
    <div class="col-md-3">
      <!--搜索区域-->
      <app-search></app-search>
      <!--/搜索区域-->
    </div>
    <!--/左侧-->
    <!--右侧-->
    <div class="col-md-9">
      <div class="row">
        <!--轮播图-->
        <app-carousel></app-carousel>
        <!--/轮播图-->
      </div>
      <div class="row">
        <!--商品信息-->
        <app-product></app-product>
        <!--/商品信息-->
      </div>
    </div>
    <!--/右侧-->
  </div>
</div>
<!--/主要内容容器-->
<!--底部信息-->
<app-foot></app-foot>
<!--/底部信息-->