<div >
  <img src="../assets/carousel.jpg" style="margin-top:-60px;">
</div>
<div class="main" >
  <div class="container triangles-of-section">
    <div class="triangle-up-left"></div>
    <div class="square-left"></div>
    <div class="triangle-up-right" style="width: 100px;right: -100px;"></div>
    <div class="square-right" style="width: 281px; right: -381px;"></div>
  </div>
  <section class="horizontal_teaser" >
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 horizontal_teaser_left" style="color: #808080;">
          <h3 style="max-height:510px; overflow:hidden;" >&nbsp; 深圳市科盈泰克科技有限公司(又称深圳科盈电子有限公司),成立于2006年，是一家专业研发，生产充电器、电池组、电源和保护板系列的高新技术企业，具有可按客户具体要求进行研发与生产开发的雄厚实力。
            <br>
            &nbsp;     经不断的努力，目前公司开发出多串锂电池组保护板、动力型锂电池组均衡保护板和磷酸铁锂电池组均衡保护板近千款型号。
            <br>
            &nbsp; 充电器型号有镍氢镍镉充电器、锂电池充电器、铅酸充电器、磷酸铁锂充电器等，产品线从5W到5000W均有生产，是目前中国国内研发生产电池多串保护板和充电器型号最全的厂商之一。
            <br>
            &nbsp; 产品采用先进设备进行生产、检验，质量可靠，产品通过UL、C-UL、CE、GS、3C、FCC、PSE、KC、SAA、CEC、BS、CB等认证。并在国内外许多知名企业合作中赢得了良好声誉。
            <br>
            &nbsp; 我们可根据客户的具体要求，定制各种非标规格产品，满足不同客户的需求。<br>
            &nbsp; 同时公司投入先进的检测设备，对出货的产品进行全方位的测试，并且对生产环节实施严格的现场管理，确保各生产工序的稳定、受控，从而保证为客户提供高品质的产品。
            <br>
            &nbsp; 公司从创办至今产品品质得到广大海内外客户的认可,目前产品行销德国、加拿大、美国、澳大利亚、印度、韩国、俄罗斯及中国香港等国家和地区。<br>
            &nbsp; 公司奉行“质量第一，信誉第一，诚信为本”的服务宗旨，严格按照ISO9001质量体系管理生产。<br>
            &nbsp; 本公司竭诚欢迎海内外朋友，新老客户洽谈合作。<br></h3>
        </div>
        <div  class="col-sm-12 col-md-6 horizontal_teaser_right">
          <img src="../assets/about-1.jpg">
        </div>
      </div>
    </div>
  </section>
  <section class="parallax call_to_action" style="background-image: url(../assets/parallax.jpg); background-position: 50% 49.4%;">
    <div class="overlay"> <img alt="responsive" src="../assets/about-2.png">
      <h3>深圳科盈泰克科技有限公司</h3>
    </div>
  </section>
  <section class="team_members sections" >
    <div class="container triangles-of-section">
      <div class="triangle-up-left"></div>
      <div class="square-left"></div>
      <div class="triangle-up-right" style="width: 100px;right: -100px;"></div>
      <div class="square-right" style="width: 267px; right: -367px;"></div>
    </div>
    <div class="container">
      <h2 class="section_header fancy centered"><span >团队力量</span><small >始终以客户要求为准则</small></h2>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="team_member">
            <figure ><img src="../assets/about-p1.jpg" alt="1a"></figure>
            <h5 >范思环</h5>
            <small >公司总监/ 创始人</small>
            <hr>
            <p class="short_bio">15年的项目管理产品开发工作经验，5年的上市公司研发工程管理经验，熟悉公司的全面运作。</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="team_member">
            <figure ><img src="../assets/about-p2.jpg" alt="2a"></figure>
            <h5>常河</h5>
            <small >车间主管</small>
            <hr>
            <p class="short_bio" >精于管理与沟通,7年在世界知名企业车间生产管理经验,熟悉生产计划排程,善长处理生产现场突发事件。</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="team_member">
            <figure ><img src="../assets/about-p3.jpg" alt="3a"></figure>
            <h5 >汪海涛</h5>
            <small >品质经理</small>
            <hr>
            <p class="short_bio" >熟悉电子制造行业的工艺流程，对制造业的日常生产管理和ISO9000品质质量管理体系有着丰富的经验； </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="team_member">
            <figure><img src="../assets/about-p4.jpg" alt="4a"></figure>
            <h5 >赵鹏飞</h5>
            <small >工程主管</small>
            <hr>
            <p class="short_bio" > 10年丰富的工作经验及较强的新品开发能力；
              具有扎实的电子电路基础和实施经验</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

